@model RetroCassetteVHS.Application.ViewModels.Cassette.CassetteDetailsVm

@{
    ViewData["Title"] = "CassetteDetails";
}

<h1>CassetteDetails</h1>

<div>
    <h4>CassetteDetailsVm</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MovieTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MovieTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MovieLength)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MovieLength)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NextAvailableDate)
        </dt>
        <dd class="col-sm-10">
            @if (Model.NextAvailableDate.HasValue)
            {
                @Html.DisplayFor(model => model.NextAvailableDate)
            }
            else if (Model.Availability)
            {
                <text>Dostępna od razu</text>
            }
            else
            {
                <text>Brak danych o dostępności</text>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Availability)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Availability)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Language)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Language)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CassettePhoto)
        </dt>
        <dd class="col-sm-10">
            @if (!string.IsNullOrEmpty(Model.CassettePhoto))
            {
                <img src="@Model.CassettePhoto" alt="Cassette Photo" style="max-width: 200px;" />
            }
            else
            {
                <text>No photo available</text>
            }
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
