@model RetroCassetteVHS.Application.ViewModels.Cassette.ListCassetteForListVm

@{
    ViewData["Title"] = "Lista Filmów VHS";
}

<h1>Lista Filmów VHS</h1>

<form asp-action="Index" asp-controller="Cassette" method="post">
    <div class="input-group">
        <input type="text" asp-for="SearchString" class="form-control rounded" placeholder="Type Title or Director" aria-label="Search" aria-describedby="search-addon" />
        <button type="submit" class="btn btn-outline-primary">Search</button>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Tytuł</th>
                <th>Język</th>
                <th>Dostępność</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Cassettes)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                    <td>@Html.DisplayFor(modelItem => item.MovieTitle)</td>
                    <td>@Html.DisplayFor(modelItem => item.Language)</td>
                    <td>
                        @if (item.Availability)
                        {
                            <text>Dostępna</text>
                        }
                        else
                        {
                            <text>Niedostępna</text>
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "CassetteDetails", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                        @Html.ActionLink("Rent", "RentCassette", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <table>
        <tr>
            @for (int i = 1; i <= Math.Ceiling(Model.Count / (double)Model.PageSize); i++)
            {
                <td>
                    @if (i != Model.CurrentPage)
                    {
                        <a class="page-link" href="javascript:PagerClick(@i)">@i</a>
                    }
                    else
                    {
                        <a class="page-link">@i</a>
                    }
                </td>
            }
        </tr>
    </table>
    <input type="hidden" name="pageNo" id="pageNo" />
    <input type="hidden" name="pageSize" id="pageSize" value="5" />
</form>

@section Scripts
{
    <script type="text/javascript">
        function PagerClick(index) {
            document.getElementById("pageNo").value = index;
            document.forms[0].submit();
        }
    </script>
}
